@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

section {
  width: 95%;
  margin: auto;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  color: #03071e;
}

.author {
  align-self: center;
  font-weight: bold;
}

.quote {
  font-family: "Dancing Script", cursive;
}
