.calculator {
  width: 30%;
  margin: auto;
}

.screen {
  background-color: #888;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}

.vertical {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.inner-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto min-content;
  width: 85%;
}

#dot {
  grid-column: 2 / 4;
}

.cornerButton {
  background-color: rgb(226, 218, 218);
}
