.calculator {
  width: 25%;
  margin: auto;
  padding: 10% 0;
}

.screen {
  background-color: #858694;
  text-align: right;
  margin-bottom: 0;
  height: 3rem;
  color: white;
  font-size: 20px;
  padding: 15px 5px 0 0;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  height: 10rem;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 15%;
  background-color: aqua;
}

.cornerButton {
  height: 20%;
  background-color: #f5913e;
  border-width: 1px;
}

.inner-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 85%;
  height: 100%;
}

.innerButton {
  background-color: #e0e0e0;
  border-width: 1px;
}

#zero {
  grid-column: 1 / 3;
}
